    .seung1{
      color:red;
      text-align: center;
      font-weight: lighter;
    }


    .seung2{
      color:aqua;
      text-align: center;
      }
.seung3{
  margin-left: 5%;
  margin-right: 5%;
  display: flex;
  justify-content:space-between;
  
}


.sss {
    width: 30%;
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
    padding: 20px;
    border-radius: 100px;
    box-shadow: 0 2px 10px rgba(240, 134, 28, 0.625);
    text-align: center;
    
}
.sss:hover {
    background-color: #f0f0f0;
    box-shadow: 0 4px 20px rgba(240, 134, 28, 0.625);
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

#proj3_id {
    color: blue;
    font-weight: bold;
}

.header {
    background-image: url(https://m.media-amazon.com/images/I/71tKt5bW-DS._UF894,1000_QL80_.jpg);
    background-size: cover;
    padding: 20px;
    text-align: center;
    border-bottom: 2px solid #ccc;
}

a {
    text-decoration: none;
    color: inherit;
}